{% if errors is defined and translate_domain is defined %}
    {% set logref = errors.logref %}
    {% set errors = errors._embedded.errors %}

    <ul>
        {% for error in errors %}
            {% set arguments = [] %}


            {% if id is defined %}
                {% set arguments = arguments|merge({'%id%': id}) %}
            {% endif %}

            {% if error.message is not defined and error is iterable %}
                {% for err in error %}
                    <li>
                        {% for key, er in err %}
                            {% if key not in ['message', 'property_path'] %}
                                {% set arguments = arguments|merge({('%'~key~'%'): er}) %}
                            {% endif %}
                        {% endfor %}

                        {{ err.message|trans(arguments, translate_domain)|raw }}
                    </li>
                {% endfor %}
            {% else %}
                <li>
                    {{ error.ref|trans(arguments, translate_domain)|raw }}
                </li>
            {% endif %}
        {% endfor %}
    </ul>

    <br>

    <p><small>Si ce message d'erreur n'est pas normal, merci de contacter l'administrateur du site en fournissant cette
            référence :</small> <strong>{{ logref }}</strong></p>
{% endif %}
